@import "tailwindcss";

body{
    background-color: #0A1A2F;
    color: azure;
}

.card{
    position: relative;
}

.card .front{
    position: absolute;
    transform: rotateY(90deg);
    transition: 300ms all ease-in;
   
}

.card .back{
    transform: rotateY(0deg);
    transition: 300ms all ease-in;
}


.rotated .front{
    transform:rotateY(0deg);
   
    
}

.rotated .back{
    transform:rotateY(90deg);
    
   
}
